.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page section {
    width: 600px;
}

.login-page section div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    grid-gap: .7rem;
}

.login-page .sign-buttons{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    grid-gap: 14px;
}

.login-page .btn-sign-intern {
    width: 100%;
    background-color: #E43F5A;
    color: #fff;
}


.login-page .btn-sign-azure, .login-page .btn-sign-google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 55px;
    width: 55px;
}

.login-page .btn-sign-azure img {
    width: 25px;
}

.login-page .btn-sign-google img {
    width: 30px;
}

.login-page footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: flex-start;
    font-size: 0.8rem;
}